# Configuración General de Flask
SECRET_KEY=tu_clave_secreta_aqui
JWT_SECRET_KEY=tu_clave_jwt_aqui

# Configuración de Base de Datos (MySQL)
# Formato: mysql+pymysql://usuario:contraseña@servidor:puerto/nombre_bd
DATABASE_URL=mysql+pymysql://usuario:password@localhost:3306/nombre_tu_db

#Una vez editado cambiar el fichero de nombre a ".env"
