SECRET_KEY=clave_demo_tfg
JWT_SECRET_KEY=clave_jwt_demo_tfg_muy_larga_y_segura

MYSQL_ROOT_PASSWORD=root_password
MYSQL_DATABASE=tfg_db
MYSQL_USER=tfg_user
MYSQL_PASSWORD=tfg_password

DATABASE_URL=mysql+pymysql://tfg_user:tfg_password@db:3306/tfg_db?charset=utf8mb4
